body {
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/304969/1534027506.png);
}

#nav-top {
  margin: 30px 0px; 
}

#main-entry {
  width: 65%;
}

#chapters-list p {
  font-size: 40px;
  font-family: courier;
  /* margin: 20px 40%; */
}
